@import "http://fonts.fontstorage.com/import/ruslan.css";
@import "http://fonts.fontstorage.com/import/beermoney.css";
@import "http://fonts.fontstorage.com/import/alexander.css";
@import "http://fonts.fontstorage.com/import/barkentina.css";
@import "http://fonts.fontstorage.com/import/berniershade.css";
@import "http://fonts.fontstorage.com/import/ptserif.css";
@import "http://fonts.fontstorage.com/import/montserratalternates.css";
@import "http://fonts.fontstorage.com/import/cleanvertising.css";
@import "http://fonts.fontstorage.com/import/ubuntu.css";
@import "http://fonts.fontstorage.com/import/casper.css";
@import "http://fonts.fontstorage.com/import/cousine.css";
@import url('https://fonts.googleapis.com/css?family=Itim');
@import url('https://fonts.googleapis.com/css?family=Devonshire');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');


.button_main {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Nunito;
    text-decoration: none;
    border: 2px solid rgb(39, 39, 39);
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color:rgb(39, 39, 39);
    padding: 4px 30px;
}

.map{
    position: relative;
    width: 80%;
    height: 100%; 
}
.comments{
  position: relative;
    border: 1px solid rgb(39, 39, 39);
    font-size: 14px;
    border-radius: 20px;
    width: 10%;
    padding: 4px 30px;
}

.div{
    display: inline-block;
    font-size: 20px;
    border: 0px solid rgb(39, 39, 39);
    border-radius: 20px;
    width: 4%;
    height: 4%;
}

.tabl{
  border: 0;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid #000;
  border-radius: 20px;    
  background-color: rgb(247, 247, 247);
  outline: 0  ;  
}
  th, td {
    padding: 20px;
}

th {
    left:63.5%;
    background: #3922bd;
    color: #fff;
}

td {
  font-size: 19px;
  color: #fff;
    background: #884cee;
}

input{
    border: 0;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid #000;
    border-radius: 10px;    
    background-color: rgb(247, 247, 247);
    outline: 0  ;  
  }
  .div_aut{
    position: absolute;
    font-family: Nunito;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Nunito;
    text-decoration: none;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 25px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background: -webkit-linear-gradient(90deg, #3922bd,#2170d8);                        background: linear-gradient(90deg, #9c73e1,#884cee);
    padding: 4px 30px;
    border-color: rgb(39, 39, 39);
    width: 20%;
    height: 40%;
  }

  body {
    font-family: Nunito;
    box-sizing: border-box;
    background: -webkit-linear-gradient(90deg, #3922bd,#2170d8);                          background: linear-gradient(90deg, #b6a3d3,#6a14ff);                          
  }
