@import "http://fonts.fontstorage.com/import/ruslan.css";
@import "http://fonts.fontstorage.com/import/beermoney.css";
@import "http://fonts.fontstorage.com/import/alexander.css";
@import "http://fonts.fontstorage.com/import/barkentina.css";
@import "http://fonts.fontstorage.com/import/berniershade.css";
@import "http://fonts.fontstorage.com/import/ptserif.css";
@import "http://fonts.fontstorage.com/import/montserratalternates.css";
@import "http://fonts.fontstorage.com/import/cleanvertising.css";
@import "http://fonts.fontstorage.com/import/ubuntu.css";
@import "http://fonts.fontstorage.com/import/casper.css";
@import "http://fonts.fontstorage.com/import/cousine.css";
@import url('https://fonts.googleapis.com/css?family=Itim');
@import url('https://fonts.googleapis.com/css?family=Devonshire');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.text_up_fio {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Nunito;
  text-decoration: none;
  border: 2px solid rgb(39, 39, 39);
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color:rgb(39, 39, 39);
  padding: 4px 30px;
}

.text_footer {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
  font-family: Nunito;
  text-decoration: none;
  border: 2px solid rgb(39, 39, 39);
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color:rgb(39, 39, 39);
  padding: 4px 30px;
}

.button_main {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Nunito;
    text-decoration: none;
    border: 2px solid rgb(39, 39, 39);
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color:rgb(39, 39, 39);
    padding: 4px 30px;
  }
  
 
  .table_main{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Nunito;
    text-decoration: none;
    border: 0px solid rgb(39, 39, 39);
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color:rgb(39, 39, 39);
    padding: 4px 30px;
    border-color: white;
  }

  .div_main{
    color: rgb(39, 39, 39);
    font-size: 20px;
    font-family: Nunito;
    text-decoration: none;
    border: 2px solid rgb(39, 39, 39);
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color:rgb(255, 255, 255);
    padding: 4px 30px;
    border-color: rgb(39, 39, 39);
    width: 30%;
  }

  .map{
    position: relative;
    width: 40%;
    height: 40%; 
  }
  .div_history{
    display: inline-block;
    font-size: 20px;
    border: 0px solid rgb(39, 39, 39);
    border-radius: 20px;
    width: 4%;
    height: 4%;
  }


input{
    border: 0;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid #000;
    border-radius: 20px;    
    background-color: rgb(247, 247, 247);
    outline: 0  ;  
  }
  .div_aut{
    position: absolute;
    font-family: Nunito;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Nunito;
    text-decoration: none;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background: -webkit-linear-gradient(90deg, #3922bd,#2170d8);                        background: linear-gradient(90deg, #9c73e1,#884cee);
    padding: 4px 30px;
    border-color: rgb(39, 39, 39);
    width: 20%;
    height: 40%;
  }

  body {
    font-family: Nunito;
    box-sizing: border-box;
    background: -webkit-linear-gradient(90deg, #3922bd,#2170d8);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #b6a3d3,#6a14ff);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
  }
  